@import "tailwindcss";

@font-face {
    font-family: RacingSans;
    src: url(RacingSansOne-Regular.ttf);
}

@font-face {
    font-family: VabiDasabi;
    src: url(Vabi-Dasabi.ttf);
}

@font-face {
    font-family: Reglisse;
    src: url(Reglisse.otf);
}

@theme {
    --color-sunset: #d98c1c;
}

h1 {
    font-size: 8rem;
    font-family: "Reglisse", sans-serif;
    opacity: 100%;
    color: rgb(133, 14, 14);
    text-align: center;
    letter-spacing: 4px;
}

html, body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.app {
    height: 100vh;
    overflow-y: scroll;
    background-color: blue;
    width: 100%;
}

.scroll-container {
    height: 1500vh;
    background-color: red;
    width: 100%;
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 4rem;
    }
}
